@import "bootstrap/scss/bootstrap-grid";

:root {
  --black: #000;
  --light-blue: #4cc9f0;
  --blue: #4361ee;
  --dark-blue: #3a0ca3;
  --pink: #f72585;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 60px 0;
  font-family: Roboto;
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 30px 0 10px;
  font-size: 24px;
}

video {
  display: block;
  width: 100%;
  border: 1px solid var(--black);
}

.exercise {
  padding: 20px;
  border: 1px solid var(--black);
}

.wrapper {
  padding: 20px;
  display: flex;
  gap: 20px;
  background: var(--light-blue);
}

.item {
  width: calc(100% / 3);
  background: var(--dark-blue);
  padding: 40px 0;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

// ---------------------------------------------
.wrapper-hover .item:hover {
  background-color: var(--pink);
}

.wrapper-transition .item {
  transition: background-color 0.5s 0.2s ease-in-out;
}

.wrapper-transition .item:hover {
  background-color: var(--pink);
}

.wrapper-delay .item {
  transition: background-color 0.5s 0.3s ease-out;
}

.wrapper-delay .item:hover {
  background-color: var(--pink);
}

.wrapper-two-properties .item {
  transition: color 0.5s 0.1s ease-in, background-color 0.5s 0.1s ease-in;
}

.wrapper-two-properties .item:hover {
  color: var(--black);
  background-color: var(--pink);
}

.wrapper-delay-one-property .item {
  transition: color 0.5s 0.3s ease-in-out, background-color 0.5s ease-in-out;
}

.wrapper-delay-one-property .item:hover {
  color: var(--black);
  background-color: var(--pink);
}

.wrapper-parent .item {
  transition: background-color 0.5s ease-in-out;
}

.wrapper-parent:hover .item {
  background-color: var(--pink);
}

.wrapper-parent-delay .item {
  transition: background-color 1s ease-out;
}

.wrapper-parent-delay .item:nth-child(1) {
  transition-delay: 0.3s;
}

.wrapper-parent-delay .item:nth-child(2) {
  transition-delay: 0.6s;
}

.wrapper-parent-delay .item:nth-child(3) {
  transition-delay: 0.9s;
}

.wrapper-parent-delay:hover .item {
  background-color: var(--pink);
}

.wrapper-parent-children .item {
  transition: background-color 0.5s ease-in-out;
}

.wrapper-parent-children:hover .item {
  background-color: var(--pink);
}

.wrapper-parent-children {
  transition: background-color 0.5s ease-in-out;
}

.wrapper-parent-children:hover {
  background-color: var(--blue);
}

.wrapper-parent-children-delay {
  transition: background-color 0.5s ease-in;
}

.wrapper-parent-children-delay:hover {
  background-color: var(--blue);
}

.wrapper-parent-children-delay .item {
  transition: background-color 0.5s 0.4s ease-in;
}

.wrapper-parent-children-delay:hover .item {
  background-color: var(--pink);
}
// ---------------------------------------------
